<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de estado</title>
    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
        h1{
            color: red;
        }
        p{
            color: black;
        }
    </style>
</head>
<body>
    <h1>Estimado/a {{nombre}} </h1>
    <p>Le comunicamos que su reclamo ha sido {{estadoFinal}}</p>
    <p>No responder a este correo.</p>    
</body>
</html>